# Backend
/backend/data/
/backend/main
/backend/*.db


# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.vite/
# Environment
.env
docker-compose.yml 

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Other
Project.md
Makefile
backend/test-email.sh